<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
<div>
    <img src="{% static 'example.jpg' %}" alt="My image">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>