{% extends 'home/base.html' %}
{% block content %}
    <h1>This is homepage</h1>
    <ul>
        {% for item in list_category %}
            {% if item.parent_id is None %}
                <li>{{ item.name }}</li>
                <li>
                    <ul>
                        {% for item2 in list_category %}
                            {% if item.id == item2.parent_id.id %}
                                <li>{{ item2.name }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}